<div id="<%= dom_id menu_category %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= menu_category.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= menu_category.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position:</strong>
    <%= menu_category.position %>
  </div>
</div>
