<div id="<%= dom_id option %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Option group:</strong>
    <%= option.option_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= option.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= option.price %>
  </div>
</div>
