default: &default
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  adapter: sqlite3
  database: storage/development.sqlite3

test:
  adapter: sqlite3
  database: storage/test.sqlite3

production:
  adapter: postgresql
  encoding: unicode
  url: postgresql://feulfit_db_user:K9bynx1mI29Qp3pfchFCZSm8VuPfYXs0@dpg-d53ahtruibrs73fo76r0-a/feulfit_db
