<div id="<%= dom_id product %>" class="bg-white shadow-md rounded-xl p-4 mb-4">

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <p class="text-gray-500 text-sm">Name</p>
      <p class="font-medium text-gray-800"><%= product.name %></p>
    </div>

    <div>
      <p class="text-gray-500 text-sm">Unit Price</p>
      <p class="font-medium text-gray-800"><%= number_to_currency(product.unit_price) %></p>
    </div>
  </div>

</div>
