<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Invoice PDF</title>
    <%= wicked_pdf_stylesheet_link_tag "application" %> <!-- optional, for general styling -->
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>         <!-- PDF-only CSS -->
  </head>
  <body class="pdf">
    <%= yield %>
  </body>
</html>
